

body{
	background-image: url("Backgrounds/PurpleSky.GIF");
	background-attachment: fixed;
	background-size: 75%;
	
}

.logo{
	width: 256px;
	height: auto;
	position: relative;
	}

.clouds1{
	width: 1024px;
	height: auto;
	opacity: 0.75;
	 position: fixed;
	 animation-duration: 13s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.clouds2{
	width: 512px;
	height: auto;
	position: fixed;
    top: 80%;
    left: 20%;
	opacity: 0.5;
	animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.clouds3{
	width: 450px;
	height: auto;
	position: fixed;
    top: 80%;
    left: 20%;
	opacity: 0.5;
	animation-duration: 11s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    
  }

  to {
    margin-left: 0%;
  
  }
}