

body{
	background-image: url("Backgrounds/PurpleSky.GIF");
	background-attachment: fixed;
	background-size: cover;
	
}

#LineUp {
	display: flex;
	justify-content:center;
	align-items:center;
}

.Title, .name{
	font-family: Silkscreen, "Silkscreen Expanded";
	color: #ffb8db;
	display: flex;
    justify-content: center;
}
.logo{
	position: relative;
	 display: block;
  	margin-left: auto;
 	 margin-right: auto;
  	width: 25%;
	}

.clouds1{
	width: 1024px;
	height: auto;
	opacity: 0.45;
	 position: fixed;
	    top: 50%;
    animation-duration: 12s;
    animation-name: slidein;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.clouds2{
	width: 512px;
	height: auto;
	position: fixed;
    top: 80%;
    left: 20%;
	opacity: 0.5;
	animation-duration: 12s;
    animation-delay: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.clouds3{
	width: 450px;
	height: auto;
	position: fixed;
    top: 80%;
    left: 20%;
	opacity: 0.5;
	animation-duration: 12s;
    animation-name: slidein;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.ABbutt,.HomeButt,.WorkButt,.ContactButt{
	width: 200px;
	height: auto;
	opacity: 0.75;
	animation-duration: 7s;
	nimation-delay: 1s;
    animation-name:button;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

}


ul {
	list-style-type: none;
}


@keyframes button{
	from {
		transform: translate(-60px, 0px);
	}
	65%{
		transform: translate(60px, 0px);
	}
	to {
		transform: translate(-60px, -0px);
	}
}
@keyframes slidein {
  from {
    left: 1700px;
    
  }

  to {
    left: -900px;
  
  }
}